doctype html
html(lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title Reset Your Password
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
    style.
      * { box-sizing: border-box; }
      body { margin: 0; padding: 0; }
      a[x-apple-data-detectors] { color: inherit !important; text-decoration: inherit !important; }
      #MessageViewBody a { color: inherit; text-decoration: none; }
      p { line-height: inherit }
      .desktop_hide, .desktop_hide table {
        mso-hide: all;
        display: none;
        max-height: 0;
        overflow: hidden;
      }
      .image_block img+div { display: none; }
      sup, sub { font-size: 75%; line-height: 0; }

  body.body(style="background-color:#ffffff;margin:0;padding:0;-webkit-text-size-adjust:none;text-size-adjust:none;")
    table.nl-container(width="100%" cellpadding="0" cellspacing="0" style="background-color:#ffffff;")
      tr
        td

          // Row 1 (Container)
          table.row.row-1(width="100%")
            tr
              td
                table.row-content.stack(width="700" align="center" style="margin:0 auto;border:8px solid #ffffff;")
                  tr
                    td.column.column-1(style="background-color:#f9f9fb;border-radius:8px;")
                      table
                        tr
                          td.pad
                            div

          // Row 2 (Logo)
          table.row.row-2(width="100%")
            tr
              td
                table.row-content.stack(width="700" align="center")
                  tr
                    td.column.column-1
                      table
                        tr
                          td.col-pad(style="padding:24px 0 32px;")
                            table.image_block
                              tr
                                td.pad
                                  .alignment(align="center")
                                    div(style="max-width:70px;")
                                      a(href="https://www.example.com/" target="_blank")
                                        img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/10641/Klera.png" width="70" alt="Logo")

          // Row 3 (Hero)
          table.row.row-3(width="100%")
            tr
              td
                table.row-content.stack(width="700" align="center" style="background-image:url('https://d1oco4z2z1fhwp.cloudfront.net/templates/default/10641/OptIn_Hero.png');")
                  tr
                    td.column.column-1
                      .spacer_block(style="height:23px;")
                      table.heading_block
                        tr
                          td.pad(style="padding:60px 10px;text-align:center;")
                            h1(style="color:#ffffff;font-size:32px;font-weight:600;")
                              | Reset your
                              br
                              | password
                      .spacer_block(style="height:23px;")

          // Row 4 (Content)
          table.row.row-4(width="100%")
            tr
              td
                table.row-content.stack(width="700" align="center" style="background-image:url('https://d1oco4z2z1fhwp.cloudfront.net/templates/default/10641/Grey_BG_01.png');")
                  tr
                    td.column(style="width:16%")
                    td.column(style="width:66%")
                      table
                        tr
                          td.col-pad(style="padding:40px 8px 30px;")
                            table
                              tr
                                td.pad
                                  div(style="color:#4a4f5f;font-size:16px;")
                                    p We received a request to reset your password.
                                    p If you made this request, click the button below to choose a new password. This link will expire soon for your security.
                                    p If you didn’t request a password reset, you can safely ignore this email.

                            table
                              tr
                                td.pad(style="text-align:center;")
                                  a(href=resetUrl target="_blank")
                                    span(style="background:#1e40ff;color:#fff;border-radius:32px;display:inline-block;padding:10px 28px;font-weight:600;")
                                      | Reset Password
                    td.column(style="width:16%")

          // Row 5 (Footer)
          table.row.row-7(width="100%")
            tr
              td
                table.row-content.stack(width="700" align="center" style="background:#f5f5f7;border-radius:24px 24px 0 0;")
                  tr
                    td.column.column-1
                      table
                        tr
                          td.pad(style="padding:44px 10px;text-align:center;")
                            div(style="color:#4a4f5f;font-size:14px;line-height:1.6;")
                              p You received this email because a password reset was requested for your account.
                              p If this wasn’t you, no action is needed.
                              p
                                | Need help?
                                br
                                a(href="https://www.example.com/") Contact Support
                              p © 2025 Klera Technologies Inc. All rights reserved.

                      table
                        tr
                          td.pad
                            .alignment(align="center")
                              a(href="https://www.example.com/")
                                img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/10641/Logo_Large.png" width="671")